<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Daphné H.</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      media="screen and (max-width: 599px)"
      href="../css/mobile.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen and (min-width: 1200px)"
      href="../css/desktop.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="menu-sticky">
        <nav class="menu-about">
          <ul>
            <li><a href="#" class="nav__link">Full-stack</a></li>
            <li><a href="./about.html" class="nav__link">Profil</a></li>
            <li><a href="./contact.html" class="nav__link">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="block-projects">
        <div class="row">
          <div class="col-4">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="projet-machine"><q id="citation"></q></div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="projet-hello">
                      <img
                        src="../images/gif/helloproject.gif"
                        alt="bonjour animé"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="projet-tarot">
                      <img src="../images/gif/tarot.gif" alt="tarot animé" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="projet-circle">
                    <img
                      src="../images/gif/circle-move.gif"
                      alt="Animation: un cercle qui s'affiche progressivement"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="projet-parallax">
                <img
                  src="../images/gif/blackandwhite.gif"
                  alt="animation en noir et blanc"
                />
              </div>
            </div>
            <div class="row">
              <div class="projet-cloud">
                <img
                  src="../images/png/nuage.png"
                  alt="dessin de nuage coloré"
                />
              </div>
            </div>
            <div class="row">
              <div class="projet-neon">
                <img
                  src="../images/png/neon.png"
                  alt="texte qui ressemble à un néon rose"
                />
              </div>
            </div>
          </div>

          <div class="col">
            <div class="container">
              <div class="row"><h4>Titre du projet</h4></div>
              <div class="row">
                Ceci est mon projet, il fait ça et il fait ci
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../js/front.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
