<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../.public/css/style.css" />
    <title>Portfolio D. Hervé</title>
  </head>
  <body>
    <!-- -------------------------------------------------------------NAVBAR--------->
    <nav class="menu">
      <ul>
        <li><a href="#" class="nav__link">Front-end</a></li>
        <li><a href="#" class="nav__link">Full-stack</a></li>
        <li><a href="#" class="nav__link">Compétences</a></li>
        <li><a href="#" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <!-- ----------------------------------------------------------- test RESPONSIVE--------->
    <h1 class="justformobile">Test include Mobile</h1>
  </body>
</html>
