$primary-color: #fe9010;
$secondary-color: #f43535;
$background-color: #dc5b5b;
$light-color: #f9a7a7;
$neutral-color: #707070;

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
